<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://bootswatch.com/4/litera/bootstrap.min.css" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}

        {% endblock %}

    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('quotePage') }}">QuoteMachine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('randomQuote') }}">Citation aléatoire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('category_top') }}">Top catégorie</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('newQuote') }}">Ajouter une citation</a>
                </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('category_new') }}">Ajouter une catégorie</a>
                </li>
                {% endif %}

            </ul>
            <form class="form-inline my-2 my-lg-0" method="get">
                <input name="search" class="form-control mr-sm-2" type="text" placeholder="Rechercher..." value="{{ search|default("") }}" required>
                <input class="btn btn-secondary my-2 my-sm-0" value="Rechercher" type="submit">
            </form>

            {% if app.user is null %}
                <a class="btn btn-primary" href="{{ path('app_register') }}">S'inscrire</a>
                <a class="btn btn-primary" href="{{ path('app_login') }}">Connexion</a>
            {%  else %}
                <a class="btn btn-primary" href="{{ path('app_logout') }}">Déconnexion</a>
            {% endif %}
        </div>
    </nav>
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
